body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-align: center;
  background-color: #ffffff;
}
h1 {
  color: #d3eced;
  font-family: 'Italianno', cursive;
  font-size: 60px;
  text-align: center;
  -webkit-text-stroke: 1px skyblue;
  background-color: white;
  margin: auto;
}

input {
  border-color: #e3e3e3;
  border-radius: 4px;
  border-style: solid;
}

input:focus{
  border-color: skyblue;
  border-style: dotted;
}

div.submit {
  border-color: #e3e3e3;
  border-radius: 4px;
  border-style: solid;
  }